0_1_tikenized.txt
0_2_posTagged.txt
0_3_stopwords.txt
0_0_'Memory man' genius plans to sue after losing memory when he is hit by drink-driver - Telegraph.txt
0_0_Syria airstrikes vote Britain set for war as 50 Labour MPs plan to revolt against Jeremy Corbyn - live - Telegraph.txt
__pycache__/
*.pickle
